<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functionlabcentral.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0ff6e37a-40ed-4025-acb3-a45949795b79/resourceGroups/ResourceGrp2/providers/Microsoft.Web/sites/FunctionLabCentral</ResourceId>
    <UserName>$FunctionLabCentral</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionlabcentral.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>